<form action="<%= cats_url %>" method="POST">

    <label for="name">Name</label>
        <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
    <br>

    <label>Color
        <input type="text" name="cat[color]" value="<%= @cat.color %>">
    </label>

    <select name="cat[color]">
        <option disabled selected>Option</option>
        <option value=white>white</option>
        <option value="<% Cat::COLORS[1] %>"><%=Cat::COLORS[1]%></option>
        <option value="<% Cat::COLORS[2] %>"><%=Cat::COLORS[2]%></option>
        <option value="<% Cat::COLORS[3] %>"><%=Cat::COLORS[3]%></option>
        <option value="<% Cat::COLORS[4] %>"><%=Cat::COLORS[4]%></option>
        <option value="<% Cat::COLORS[5] %>"><%=Cat::COLORS[5]%></option>
        

    </select>

    <br>

    <label>Date of Birth
        <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
    </label>
    <br>
  
    <label>Sex
        <input type="radio" name="cat[sex]" value="F""M" <%#= @cat.sex %>">
    </label>
    <br>


  
    <input type="submit" value="Create Cat">




</form>